/* entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/laboratory-background.jpg);
}

/* title */
h1 {
    font-size: 32px;
    color: white;
    margin-top: 20px;
}

/* play area */
.card-field {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.70);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 800px;
    position: relative;
}

/* player rows */
.player-1,
.player-2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Centers the middle 3 cards */
.middle-wrapper {
    display: flex;
    justify-content: center;
}

.extra-cards {
    display: flex;
    gap: 60px;
    padding: 10px;
    border: 2px solid purple;
    border-radius: 8px;
}

/* Cards */
img {
    width: 120px;
    height: auto;
    border-radius: 8px;
    box-shadow: lightgray;
}

img.selected {
  outline: 4px solid orange;
  transform: scale(1.05);
  transition: 0.1s;
}

/* Draw pile */
.draw-pile {
    height: auto;
    margin-top: 20px;
    margin-left: calc(800px + 40px);
    padding: 10px;
    border: 2px dashed gray;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: lightgray;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.hud {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  max-width:800px;
  margin-top:10px;
  gap:10px;
  color: white;
}
.hud .info span { margin-right:12px; font-weight:600; }
.controls button {
  padding:8px 12px;
  border-radius:6px;
  border:1px solid #aaa;
  background:#f0f0f0;
  cursor:pointer;
}
.controls button:active { transform: translateY(1px); }

.potion-results {
    color: white;
}